#ParaverCFG
ConfigFile.Version: 3.4
ConfigFile.NumWindows: 7
ConfigFile.BeginDescription

ConfigFile.EndDescription
ConfigFile.SyncGroups 

################################################################################
< NEW DISPLAYING WINDOW reads.c1.c1 >
################################################################################
window_name reads.c1.c1
window_type single
window_id 1
window_position_x 6198
window_position_y 29
window_width 600
window_height 134
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_code_mode
window_custom_color_enabled false
window_custom_background_as_zero true
window_semantic_scale_min_at_zero false
window_logical_filtered true
window_physical_filtered false
window_intracomms_enabled true
window_intercomms_enabled true
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 18.000000000000
window_minimum_y 0.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 1
window_object_axis_position 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Is Equal}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, Sign} } }
window_semantic_module compose_thread Is Equal { 1, { 1 1.000000000000 } }
window_filter_module evt_type 1 40000004
window_filter_module evt_type_label 1 "I/O calls"

################################################################################
< NEW DISPLAYING WINDOW I/O call size.c1 >
################################################################################
window_name I/O call size.c1
window_type single
window_id 2
window_position_x 9969
window_position_y 630
window_width 600
window_height 134
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_gradient_function gradient_function_linear
window_custom_color_enabled false
window_custom_background_as_zero true
window_semantic_scale_min_at_zero false
window_logical_filtered true
window_physical_filtered false
window_intracomms_enabled true
window_intercomms_enabled true
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 400000.000000000000
window_minimum_y 8.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 1
window_object_axis_position 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 40000011
window_filter_module evt_type_label 1 "I/O size"

################################################################################
< NEW DISPLAYING WINDOW time last IO call event.c1 >
################################################################################
window_name time last IO call event.c1
window_type single
window_id 3
window_position_x 10577
window_position_y 379
window_width 600
window_height 134
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_gradient_function gradient_function_linear
window_custom_color_enabled false
window_custom_background_as_zero true
window_semantic_scale_min_at_zero false
window_logical_filtered true
window_physical_filtered false
window_intracomms_enabled true
window_intercomms_enabled true
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 2138691.699000000022
window_minimum_y 15533.994000000001
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 1
window_object_axis_position 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, !=} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Begin Time}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 40000004
window_filter_module evt_type_label 1 "I/O calls"
window_filter_module evt_value 3 11.000000000000 14.000000000000 16.000000000000
window_filter_module evt_value_label 3 "open()" "close()" "lseek()"

################################################################################
< NEW DISPLAYING WINDOW time last I/O size event.c1 >
################################################################################
window_name time last I/O size event.c1
window_type single
window_id 4
window_position_x 10577
window_position_y 546
window_width 600
window_height 134
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_gradient_function gradient_function_linear
window_custom_color_enabled false
window_custom_background_as_zero true
window_semantic_scale_min_at_zero false
window_logical_filtered true
window_physical_filtered false
window_intracomms_enabled true
window_intercomms_enabled true
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 2137936.597000000067
window_minimum_y 16502.111000000001
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 1
window_object_axis_position 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Begin Time}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 40000011
window_filter_module evt_type_label 1 "I/O size"

################################################################################
< NEW DISPLAYING WINDOW IO calls with IO size event.c1 >
################################################################################
window_name IO calls with IO size event.c1
window_type composed
window_id 5
window_factors 1.000000000000 1.000000000000
window_shifts 0 0
window_operation different
window_identifiers 3 4
window_position_x 10577
window_position_y 212
window_width 600
window_height 134
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_code_mode
window_custom_color_enabled false
window_custom_background_as_zero true
window_semantic_scale_min_at_zero false
window_units Microseconds
window_maximum_y 1.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 1
window_object_axis_position 0
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, 1-Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }

################################################################################
< NEW DISPLAYING WINDOW IO call size.c1 >
################################################################################
window_name IO call size.c1
window_type composed
window_id 6
window_factors 1.000000000000 1.000000000000
window_shifts 0 0
window_operation product
window_identifiers 2 5
window_position_x 6227
window_position_y 58
window_width 600
window_height 134
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_gradient_function gradient_function_linear
window_custom_color_enabled false
window_custom_background_as_zero true
window_semantic_scale_min_at_zero false
window_units Microseconds
window_maximum_y 400000.000000000000
window_minimum_y 8.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 1
window_object_axis_position 0
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_synchronize 0

################################################################################
< NEW DISPLAYING WINDOW reads-size >
################################################################################
window_name reads-size
window_type composed
window_id 7
window_factors 1.000000000000 1.000000000000
window_shifts 0 0
window_operation product
window_identifiers 1 6
window_position_x 4526
window_position_y 181
window_width 600
window_height 134
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_gradient_function gradient_function_linear
window_custom_color_enabled false
window_custom_background_as_zero true
window_semantic_scale_min_at_zero false
window_units Microseconds
window_maximum_y 400000.000000000000
window_minimum_y 8.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode draw_maximum
window_drawmode_rows draw_maximum
window_pixel_size 1
window_labels_to_draw 1
window_object_axis_position 0
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }

< NEW ANALYZER2D >
Analyzer2D.Type: single
Analyzer2D.Name: hist-read-size
Analyzer2D.X: 2678
Analyzer2D.Y: 358
Analyzer2D.Width: 600
Analyzer2D.Height: 193
Analyzer2D.ControlWindow: 7
Analyzer2D.DataWindow: 7
Analyzer2D.Accumulator: Semantic
Analyzer2D.Statistic: Time
Analyzer2D.CalculateAll: True
Analyzer2D.HideCols: True
Analyzer2D.HorizVert: Horizontal
Analyzer2D.Color: True
Analyzer2D.SemanticColor: False
Analyzer2D.Zoom: Enabled
Analyzer2D.SortCols: False
Analyzer2D.SortCriteria: Total
Analyzer2D.SortReverse: False
Analyzer2D.Parameters: 4 -179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368.000000000000 179769313486231570814527423731704356798070567525844996598917476803157260780028538760589558632766878171540458953514382464234321326889464182768467546703537516986049910576551282076245490090389328944075868508455133942304583236903222948165808559332123348274797826204144723168738177180919299881250404026184124858368.000000000000
Analyzer2D.AnalysisLimits: Alltrace
Analyzer2D.ComputeYScale: True
Analyzer2D.ComputeYScaleZero: False
Analyzer2D.Minimum: 8.000000000000
Analyzer2D.Maximum: 419999.599999999977
Analyzer2D.Delta: 2099.958000000000
Analyzer2D.UseFixedDelta: False
Analyzer2D.NumColumns: 200
Analyzer2D.ComputeGradient: True
Analyzer2D.MinimumGradient: 4.282000000000
Analyzer2D.MaximumGradient: 232436.404000000010
Analyzer2D.Object: appl { 1, { All } }
Analyzer2D.DrawModeObjects: draw_maximum
Analyzer2D.DrawModeColumns: draw_maximum
Analyzer2D.PixelSize: 1
Analyzer2D.ColorMode: window_in_gradient_mode
Analyzer2D.ShowOnlyTotals: False
Analyzer2D.ShortHeaderLabels: True

